# theory answers----

✅ Question 1: Explain the fundamental differences between DDL, DML, and DQL commands in SQL. Provide one example for each type of command.
Answer:

SQL commands are grouped into categories based on their functionality:

1. DDL (Data Definition Language)

Used to define and manage database structure.

Affects schema-level operations.

Includes commands like: CREATE, ALTER, DROP, TRUNCATE.

Example:

CREATE TABLE Students (
    StudentID INT PRIMARY KEY,
    Name VARCHAR(50)
);

2. DML (Data Manipulation Language)

Used to modify data stored in database tables.

Includes: INSERT, UPDATE, DELETE.

Example:

INSERT INTO Students (StudentID, Name)
VALUES (1, 'John');

3. DQL (Data Query Language)

Used to retrieve data from the database.

Main command: SELECT.

Example:

SELECT * FROM Students;

✅ Question 2: What is the purpose of SQL constraints? Name and describe three common types of constraints with examples.
Answer:

SQL constraints ensure data accuracy, consistency, and reliability in a table.

1. PRIMARY KEY

Uniquely identifies each row.

Cannot be NULL.

Scenario: Ensuring unique customer IDs.

Example:

CustomerID INT PRIMARY KEY

2. FOREIGN KEY

Links two tables.

Enforces referential integrity.

Scenario: Linking orders to customers.

Example:

CustomerID INT REFERENCES Customers(CustomerID)

3. UNIQUE

Ensures no duplicate values in a column.

Scenario: Email addresses must be unique.

Example:

Email VARCHAR(100) UNIQUE

✅ Question 3: Difference between LIMIT and OFFSET. Retrieve 3rd page with 10 records.
Answer:

LIMIT specifies how many rows to return.

OFFSET specifies how many rows to skip before starting to return rows.

Retrieve page 3 with 10 records per page:

Page 3 starts after skipping 20 rows → OFFSET 20

SELECT * FROM table_name
LIMIT 10 OFFSET 20;

✅ Question 4: What is a CTE? Provide example.
Answer:

A CTE (Common Table Expression) is a temporary result set defined using the WITH clause.
It improves readability and makes complex queries easier to write.

Benefits:

Better query readability.

Can reference itself (recursive CTEs).

Used for breaking complex queries.

Example:
WITH HighPrice AS (
    SELECT ProductName, Price
    FROM Products
    WHERE Price > 100
)
SELECT * FROM HighPrice;

✅ Question 5: What is SQL Normalization? Explain 1NF, 2NF, 3NF.
Answer:

Normalization is the process of organizing data to reduce redundancy and improve data integrity.

Goals:

Remove duplicate data.

Ensure logical data storage.

Improve consistency.

1NF (First Normal Form):

No repeating groups.

All values must be atomic.

2NF (Second Normal Form):

Must be in 1NF.

No partial dependency (non-key attribute depends on entire primary key).

3NF (Third Normal Form):

Must be in 2NF.

No transitive dependency (non-key attribute depending on another non-key attribute).

✅ Question 6: Create Database + Tables + Insert Data
Answer:
Create Database
CREATE DATABASE ECommerceDB;
USE ECommerceDB;

Create Tables
Categories
CREATE TABLE Categories (
    CategoryID INT PRIMARY KEY,
    CategoryName VARCHAR(50) NOT NULL UNIQUE
);

Products
CREATE TABLE Products (
    ProductID INT PRIMARY KEY,
    ProductName VARCHAR(100) NOT NULL UNIQUE,
    CategoryID INT,
    Price DECIMAL(10,2) NOT NULL,
    StockQuantity INT,
    FOREIGN KEY (CategoryID) REFERENCES Categories(CategoryID)
);

Customers
CREATE TABLE Customers (
    CustomerID INT PRIMARY KEY,
    CustomerName VARCHAR(100) NOT NULL,
    Email VARCHAR(100) UNIQUE,
    JoinDate DATE
);

Orders
CREATE TABLE Orders (
    OrderID INT PRIMARY KEY,
    CustomerID INT,
    OrderDate DATE NOT NULL,
    TotalAmount DECIMAL(10,2),
    FOREIGN KEY (CustomerID) REFERENCES Customers(CustomerID)
);

Insert Data
Categories
INSERT INTO Categories VALUES
(1, 'Electronics'),
(2, 'Books'),
(3, 'Home Goods'),
(4, 'Apparel');

Products
INSERT INTO Products VALUES
(101, 'Laptop Pro', 1, 1200.00, 50),
(102, 'SQL Handbook', 2, 45.50, 200),
(103, 'Smart Speaker', 1, 99.99, 150),
(104, 'Coffee Maker', 3, 75.00, 80),
(105, 'Novel : The Great SQL', 2, 25.00, 120),
(106, 'Wireless Earbuds', 1, 150.00, 100),
(107, 'Blender X', 3, 120.00, 60),
(108, 'T-Shirt Casual', 4, 20.00, 300);

Customers
INSERT INTO Customers VALUES
(1, 'Alice Wonderland', 'alice@example.com', '2023-01-10'),
(2, 'Bob the Builder', 'bob@example.com', '2022-11-25'),
(3, 'Charlie Chaplin', 'charlie@example.com', '2023-03-01'),
(4, 'Diana Prince', 'diana@example.com', '2021-04-26');

Orders
INSERT INTO Orders VALUES
(1001, 1, '2023-04-26', 1245.50),
(1002, 2, '2023-10-12', 99.99),
(1003, 1, '2023-07-01', 145.00),
(1004, 3, '2023-01-14', 150.00),
(1005, 2, '2023-09-24', 120.00),
(1006, 1, '2023-06-19', 20.00);

✅ Question 7: CustomerName, Email, TotalNumberOfOrders (including zero orders)
SELECT
    c.CustomerName,
    c.Email,
    COUNT(o.OrderID) AS TotalNumberOfOrders
FROM Customers c
LEFT JOIN Orders o
ON c.CustomerID = o.CustomerID
GROUP BY c.CustomerID, c.CustomerName, c.Email
ORDER BY c.CustomerName;

✅ Question 8: Product info with Category
SELECT
    p.ProductName,
    p.Price,
    p.StockQuantity,
    c.CategoryName
FROM Products p
JOIN Categories c
ON p.CategoryID = c.CategoryID
ORDER BY c.CategoryName, p.ProductName;

✅ Question 9: CTE + Window Function: Top 2 expensive products per category
WITH RankedProducts AS (
    SELECT
        c.CategoryName,
        p.ProductName,
        p.Price,
        ROW_NUMBER() OVER(PARTITION BY c.CategoryName ORDER BY p.Price DESC) AS RankNo
    FROM Products p
    JOIN Categories c ON p.CategoryID = c.CategoryID
)
SELECT * FROM RankedProducts
WHERE RankNo <= 2;

✅ Question 10: Sakila Database Queries
1. Top 5 customers by spending
SELECT
    c.first_name,
    c.last_name,
    c.email,
    SUM(p.amount) AS TotalSpent
FROM payment p
JOIN customer c ON p.customer_id = c.customer_id
GROUP BY c.customer_id
ORDER BY TotalSpent DESC
LIMIT 5;

2. Top 3 categories by rental count
SELECT
    cat.name AS CategoryName,
    COUNT(*) AS RentalCount
FROM rental r
JOIN inventory i ON r.inventory_id = i.inventory_id
JOIN film_category fc ON i.film_id = fc.film_id
JOIN category cat ON fc.category_id = cat.category_id
GROUP BY cat.category_id
ORDER BY RentalCount DESC
LIMIT 3;

3. Films available at each store + never rented
SELECT
    s.store_id,
    COUNT(i.inventory_id) AS TotalFilms,
    SUM(CASE WHEN r.rental_id IS NULL THEN 1 ELSE 0 END) AS NeverRented
FROM store s
JOIN inventory i ON s.store_id = i.store_id
LEFT JOIN rental r ON i.inventory_id = r.inventory_id
GROUP BY s.store_id;

4. Monthly revenue for 2023
SELECT
    DATE_FORMAT(payment_date, '%Y-%m') AS Month,
    SUM(amount) AS TotalRevenue
FROM payment
WHERE YEAR(payment_date) = 2023
GROUP BY Month
ORDER BY Month;

5. Customers with more than 10 rentals in last 6 months
SELECT
    c.first_name,
    c.last_name,
    c.email,
    COUNT(r.rental_id) AS RentalCount
FROM customer c
JOIN rental r ON c.customer_id = r.customer_id
WHERE r.rental_date >= DATE_SUB(CURDATE(), INTERVAL 6 MONTH)
GROUP BY c.customer_id
HAVING RentalCount > 10;